html {
  font-size: 18px;
  background-color: white;
}

body {
  font-family: Helvetica, sans-serif;
  line-height: 1.4em;
  margin: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.main-container {
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  color: white;
  height: 30rem;
  padding: 1rem;
}

.callout {
  float: right;
  margin-top: 12rem;
  padding: 1.5rem 5rem;
  margin-left: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  background-color: white;
  color: black;

}

.top-bar {
  background-color: cadetblue;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.top-bar img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
  flex: 1 1 auto;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

}
nav span {
  font-weight: bold;
  margin: 1rem 2rem;
  flex: 1 1 auto;
}

/* Icon Area */
.icons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.icons figure {
  width: 5rem;
  margin: 3rem 2rem;
  text-align: center;
}
.icons figure img {
  width: 5rem;
}

.icons figure figcaption {
  font-weight: bold;
}

footer {
  background-color: azure;
  color: black;
  padding: 4rem 3rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center ;
}
